// Colors
$pink: #D452C7;
$black: #05092A;
$grey: #1D3257;
$light-grey: #9CACB7;
$white: #FFFFFF;

//Borders
$border-dark: 1px solid $light-grey; 

//Font
// @font-face {
//     font-family: 'Galano Grotesque';
//     src: url('../fonts/GalanoGrotesque/');
//     font-weight: normal;
//     font-style:  normal;
// }



h1{
    text-transform: uppercase;
    color: $black
}

h3{
    text-transform: uppercase;
    color: $black;
}